server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:contosoRoadInfraMonitoringSecretKeyForJWT2024VerySecureKey123456}

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      # Routes are defined in GatewayConfig.java with circuit breakers and fallbacks
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
    instances:
      sensorServiceCircuitBreaker:
        baseConfig: default
      assetServiceCircuitBreaker:
        baseConfig: default
      monitoringServiceCircuitBreaker:
        baseConfig: default
      alertServiceCircuitBreaker:
        baseConfig: default
      analyticsServiceCircuitBreaker:
        baseConfig: default
      authServiceCircuitBreaker:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: Sensor Service
        url: /api/v1/sensors/api-docs
      - name: Asset Service
        url: /api/v1/assets/api-docs
      - name: Monitoring Service
        url: /api/v1/monitoring/api-docs
      - name: Alert Service
        url: /api/v1/alerts/api-docs
      - name: Analytics Service
        url: /api/v1/analytics/api-docs
      - name: Auth Service
        url: /api/v1/auth/api-docs

info:
  app:
    name: ${spring.application.name}
    description: API Gateway for Road Infrastructure Monitor
    version: 1.0.0

logging:
  level:
    root: INFO
    com.contoso.roadinfra: DEBUG
    org.springframework.cloud.gateway: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker
  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@service-registry:8761/eureka/
