server:
  port: 8888

spring:
  application:
    name: config-server
  security:
    user:
      name: config
      password: config123
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,refresh
  endpoint:
    health:
      show-details: always

info:
  app:
    name: ${spring.application.name}
    description: Config Server for Road Infrastructure Monitor
    version: 1.0.0

logging:
  level:
    root: INFO
    com.contoso.roadinfra: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@service-registry:8761/eureka/
